# Install Directives
# ------------------
install
cdrom
text
xconfig --startxonboot --defaultdesktop=GNOME
eula --accept
firstboot --disabled
reboot



# Settings - Hardware
# -------------------

# Disk
bootloader --location=mbr
zerombr
clearpart --all --initlabel
# Partitioning information
part / --asprimary --fstype="ext4" --size=1 --grow
part /var --fstype="ext4" --size=4096

# Network
network --device=eth0 --bootproto=dhcp --onboot=yes --noipv6

# Misc
unsupported_hardware



# Settings - System
# -----------------
lang en_US.UTF-8
keyboard --vckeymap=us --xlayouts=us us
timezone --utc America/New_York
auth --enableshadow --passalgo=sha512



# Settings - Services
# -------------------
firewall --disabled
selinux --disabled



# Settings - User
# ---------------
rootpw --plaintext password
#group --name=vagrant --gid=970
#user --name=vagrant --plaintext --password=vagrant --groups=wheel --uid=970
#user --name=admin --plaintext --password=password --groups=wheel



# System Packages
# ---------------
%packages --ignoremissing --nocore --nobase
# Basic Packages
@core --nodefaults
 -plymouth
 -kexec-tools
 -tuned
 -audit

# Additional Packages
openssh-server
sudo
net-tools

# Ansible Packages
python
python2-dnf
libselinux-python

# Vagrant Packages
nfs-utils

# Desktop Packages
@x11
 -plymouth*
 -xorg-x11-drivers
xorg-x11-drv-qxl
xorg-x11-drv-evdev
xorg-x11-drv-vesa
gnome-shell
gnome-session-xsession

# Basic Desktop Packages
gnome-terminal
gnome-shell-extension-apps-menu
gnome-shell-extension-window-list
gnome-shell-extension-places-menu
gnome-shell-extension-alternate-tab
gnome-shell-extension-launch-new-instance
gnome-shell-extension-top-icons
liberation-mono-fonts
%end

%pre
# Note(Dan): Pre-install commands.
%end

%post
# Note(Dan): Post-install commands.
%end
